<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404 </h1>
        </div>
        <h2>Idh Adich Poy Guys</h2>
        <p>Sorry <br>but the <br>page<br> you are <br>looking for <br>does not <br>exist, <br>have been <br>removed. <br>name changed <br>or is <br>temporarily <br>unavailable</p>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Go To Homepage</a>
    </div>
</div>
<!-- <div style="position: absolute;right: 20%;bottom: 30%;">
    <span style='font-size:300px;'>&#10060;</span>
</div> -->

